@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;

  border-radius: 0 0 20px 20px; 
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(-180deg);
}



#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}


/* Add dark mode styles */
body.dark {
  background-color: #000000; /* Dark background */
  color: #f0f0f0; /* Light text */
}

/* Tailwind dark mode styles */
body.dark .your-custom-class {
  /* Custom dark mode styles for specific elements */
  background-color: #a9a3a3; 
  color:#866060;
}